.description {
  &__list {
    gap: 20px;
  }

  &__text {
    line-height: 25px;
  }

  &__img-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .more-actions {
    margin: 0 auto;
  }
}
@include sm {
  .description {

    &__img-container {
      width: 340px;
      height: auto;
    }
  }
}
@include xl {
  .description {
    &__list {
      gap: 30px;
    }
  }
}