.catalog-page {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  row-gap: 25px;
}

@include lg {
  .catalog-page {
    flex-direction: row;
    flex-wrap: wrap;

    & > * {
      width: 100%;
    }
  }
  .headline {
    width: fit-content;
  }
  .sort-by {
    margin: 0 0 0 auto;
  }
}

@include xl {
  .catalog-page {
    display: grid;
    grid-template-columns: 1fr 6fr;
    column-gap: 30px;
  }
}