.catalog-page {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 30px;

  .breadcrumbs {
    margin-bottom: -10px;
  }
}

@include lg {
  .catalog-page {
    flex-direction: row;
    flex-wrap: wrap;

    & > * {
      width: 100%;
    }
  }
}

@include xl {
  .catalog-page {
    display: grid;
    grid-template-columns: 240px 6fr;
    margin-top: 0;
  }
}