.applied-filters {
  display: flex;
  column-gap: 10px;

  &__item {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 18px;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid $moreLightGray;
    border-radius: 5px;
  }
}