.product-page {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  row-gap: 20px;

  .product-container {
    display: flex;
    flex-direction: column;
    row-gap: 75px;
  }

  .information-container {
    padding: 60px 0;
    background-color: $lightPurple;

    .container {
      gap: 50px 30px;
    }
  }

  .description, .product-characteristics {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .description-list, .characteristics-list {
      display: none;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        font-size: 24px;
        transform: rotate(360deg) scaleY(-1);
      }
    }

    &.open {

      .description-list, .characteristics-list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 35px 30px;
        border-radius: 10px;
        background-color: $white;
      }

      .title {
        svg {
          font-size: 24px;
          transform: rotate(180deg) scaleY(-1);
        }
      }
    }
  }
}

@include sm {
  .product-page .information-container {
    padding: 60px 0 90px;
  }
}

@include md {
  .product-page {
    .information-container {
      padding: 60px 0 70px;
    }

    .product-container {
      row-gap: 50px;
    }
  }
}

@include xl {
  .product-page {
    padding: 0;
    .information-container {
      padding: 80px 0 70px;
      .container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px 30px;
      }
    }
    .description {
      width: calc(58% - 15px);
    }
    .product-characteristics {
      width: calc(42% - 15px);
    }
  }
}