.promotion-slider {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__title {
    display: flex;
    align-items: center;
    column-gap: 13px;
  }

  &__mark-title {
    color: $discount;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 8px;
    background-color: #FFF0D2;
  }
}
