.login-page {
  position: relative;
  display: grid;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  &__background {
    width: 100%;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px 0;
    gap: 30px;
  }
}
