.login-page {
  .background {
    position: absolute;
    left: 0;
    right: 0;
  }
  .background-top {
    top: 0;
  }
  .background-bottom {
    bottom: 0;
  }
  .login-container {
    padding: 300px;
  }
}