.mynext-arrow, .myprev-arrow {
  font-size: 50px;
  position: absolute;
  z-index: 8;
  display: flex;
  padding: 6px;
  cursor: pointer;
  border: 1px solid $white;
  border-radius: 50px;
  background-color: $white;

  & > * {
    color: $accent;
  }
}