.product-reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;

  &__title {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__headline {
  }

  &__rating {
  }

  &__write {
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
  }

  &__more-actions {
    margin: 0 auto;
  }
}

.headline {
}

.rating-reviews {
  display: flex;
  align-items: center;
  gap: 10px;

  &__title {
    font-size: 16px;
    font-weight: 500;
  }

  &__value {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: $accent;

    svg {
      font-size: 20px;

      & > * {
        color: $accent;
      }
    }
  }
}

.write-review {
  .accent-btn {
    padding: 30px;
    border-radius: 10px;
  }

  &__btn {
  }
}

@include xl {
  .rating-reviews {
    gap: 15px;

    &__title {
      font-size: 17px;

    }
  }
}