.user-action {
  display: flex;
  align-items: center;
  column-gap: 10px;

  & > * {
    position: relative;
    display: flex;
    align-items: center;
    width: 29px;
    height: 20px;
  }

  .counter {
    font-size: 14px;
    line-height: 15px;
    position: absolute;
    top: -2px;
    right: -10px;
    display: none;
    padding: .5px 4px;
    color: $white;
    border: 1px solid $discount;
    border-radius: 50px;
    background-color: $discount;
  }
}

@include md {
  .user-action {
    margin-right: 22px;
    column-gap: 40px;

    .counter {
      position: static;
      display: block;
      margin-left: 2px;
    }
  }
}

@include xl {
  .user-action {
    column-gap: 45px;
  }
}