.languages {
  display: flex;
  gap: 0 20px;

  & > *:not(:last-child) {

    &::after {
      position: absolute;
      top: 0;
      right: -13px;
      content: '|';
    }
  }

  &__item {
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-weight: 300;
    position: relative;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    color: $white;
    border: none;
    background: transparent;

    &.active {
      font-weight: 700;
      text-decoration: none;
    }
  }
}