.product-characteristics {
  &__main-title {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    display: flex;
    align-items: flex-end;
    width: 100%;

    &::after {
      flex: 1;
      height: 1px;
      margin: 0 10px;
      content: "";
      background-color: #E1E1E1;
    }
  }

  &__list {
    gap: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__value {
    display: flex;
    white-space: nowrap;

    & > *:not(:last-child)::after {
      content: "/";
    }
  }
}
@include xl {
  .product-characteristics {
    &__list {
      display: flex;
    }

  }
}
