.send-button, .send-button-accent {
  padding: 7px;
  display: flex;
  border-radius: 50px;
  border: 1px solid $white;
  background-color: $white;
  font-size: 22px;
  cursor: pointer;
  svg {
    &>* {
      color: $accent;
    }
  }
}
.send-button {
  border: 1px solid $white;
  background-color: $white;
  svg {
    &>* {
      color: $accent;
    }
  }
}
.send-button-accent {
  border: 1px solid $accent;
  background-color: $accent;
  svg {
    &>* {
      color: $white;
    }
  }
}