.comments-item {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-color: $white;
  gap: 10px;

  .user-review {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .stars {
    white-space: nowrap;

    svg {
      font-size: 18px;

      & > * {
        color: $accent;
      }
    }
  }

  .date, .name, .review-body {
    font-size: 15px;
  }

  .date {
    color: $lightgray;
  }

  .date, .name {
    font-weight: 400;
  }

  .images {
    position: relative;
    display: flex;
    gap: 10px;
    width: fit-content;
  }

  .show-all-images {
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
    width: 79px;
    height: 79px;
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.9;
    border: none;
    border-radius: 10px;
    background-color: $white;
  }

  .img-container {
    display: flex;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}



