.comments-item {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-color: $white;
  gap: 20px;
  &__body,&__name,&__date {
    font-size: 15px;
  }
  &__name,&__date {
    font-weight: 400;
  }
  &__date {
    color: $lightgray;
  }

  &__user {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  &__name,&__date {
  }

  &__stars {
    white-space: nowrap;

    svg {
      font-size: 18px;

      & > * {
        color: $accent;
      }
    }
  }

  &__images {
    position: relative;
    display: flex;
    gap: 10px;
    width: fit-content;
  }

  &__img-container {
    display: flex;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__show-all-img {
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
    width: 79px;
    height: 79px;
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.9;
    border: none;
    border-radius: 10px;
    background-color: $white;
  }
}
@include xl {
  .comments-item {
    gap: 15px;
  }
}