.range-price {
  position: relative;
  display: flex;
  align-items: center;

  .thumbs {
    display: flex;
    align-items: center;
  }

  .slider {
    position: relative;
    overflow: hidden;
    width: 200px;
  }

  .slider-track,
  .slider-range {
    position: absolute;
  }

  .slider-track,
  .slider-range {
    height: 5px;
    border-radius: 3px;
  }

  .slider-track {
    z-index: 1;
    width: 100%;
    background-color: #ced4da;
  }

  .slider-range {
    z-index: 2;
    background-color: $accent;
  }

  .slider-values {
    display: flex;
    align-items: center;
    margin-top: 30px;
    column-gap: 10px;
  }

  .slider-left-value,
  .slider-right-value {
    font-size: 12px;

    input {
      width: 100%;
      padding: 15px;
      border: 1px solid $lightgray;
      border-radius: 5px;
    }
  }


  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .thumb {
    position: absolute;
    width: 200px;
    height: 0;
    pointer-events: none;
    outline: none;
  }

  .thumb-left {
    z-index: 3;
    top: -2px;
    left: -2px;
  }

  .thumb-right {
    z-index: 4;
    top: -2px;
  }

  .thumb::-webkit-slider-thumb {
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 4px;
    cursor: pointer;
    pointer-events: all;
    border: 1px solid $accent;
    border-radius: 50%;
    background-color: $white;
  }
}
