.add-review {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  padding: 30px 20px;
  transform: translate(-50%, -50%);
  border: 1px solid $accent;
  background-color: $white;
  gap: 30px;

  &__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 5px;
    gap: 30px;
  }


  &__mark {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 5px;
    gap: 10px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5px;
    gap: 20px;
  }

  &__input, &__textarea {
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    border: 1px solid $lightgray;
    border-radius: 5px;

  }

  &__textarea {
    height: 110px;
    resize: none;

  }

  &__btn {
    @include accent-button;
    font-weight: 300;
    width: 100%;
    padding: 30px;
  }

  .images-field {
    margin: 0 auto;
  }
}
