.add-review {
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 15px;
  padding: 30px 20px;
  opacity: 1;
  background-color: $white;
  gap: 30px;

  &__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 5px;
    gap: 30px;
  }

  &__mark {
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 5px;
    gap: 10px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5px;
    gap: 20px;
  }

  &__input, &__textarea {
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    border: 1px solid $lightgray;
    border-radius: 5px;
  }

  &__textarea {
    height: 110px;
    resize: none;
  }

  &__btn {
    width: 100%;
  }

  .images-field {
    margin: 0 auto;
  }
}

@include sm {
  .add-review {
    max-width: 400px;
  }
}

@include md {
  .add-review {
    max-width: 500px;

    &__input, &__textarea {
      font-size: 16px;
      padding: 20px;
    }

    &__body {
      gap: 30px;
    }
  }
}