.brands-slider {
  .img-container {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .mynext-arrow {
    top: -66px;
    right: 0;
  }

  .brands-description {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    row-gap: 15px;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200px;
      content: "";
      background: linear-gradient(transparent, white);
    }
  }

  .more-details {
    margin-top: -20px;
    text-align: center;
  }
}