.brands-slider {
  display: flex;
  flex-direction: column;
  .img-container {
    position: relative;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .mynext-arrow {
    top: -64px;
    right: -8px;
  }

  .brands-description {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    max-width: 1010px;
    margin: -8px auto 0;
    padding: 20px 0;
    row-gap: 15px;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200px;
      content: "";
      background: linear-gradient(transparent, white);
    }
  }

  .more-actions {
    margin-top: -20px;
    text-align: center;
  }
}
@include lg {
  .brands-slider .more-actions {
    &:hover {
      @include accent-underline-hover;
    }
  }
}
@include xl {
  .brands-slider {
    gap: 30px;
    .brands-description {
      padding: 35px 0 0;
      row-gap: 20px;
    }
    .more-actions {
      margin-top: 0;
    }
  }
}