.product-slider {
  .slick-list {
    margin: 0 -10px;
    overflow: hidden;

  }
  .slick-track {
    display: flex;
    margin: 0;
    justify-content: flex-start;
  }

  .mynext-arrow {
    top: -67px;
    right: 0;
  }
  .slick-slide {
    margin: 0 10px;
  }
}