.filter {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  &.open {
    &__container {
      display: block;
    }

    .close-toggle-white {
      top: 15px;
      left: 260px;
      display: block;
    }
  }

  .close-toggle-white {
    display: none
  }

  &__tablet {
    display: flex;
    column-gap: 10px;
  }

  &__btn {
    width: fit-content;
  }

  &__container {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    display: none;
    max-width: 240px;
    padding: 30px 15px;
    background-color: $white;

    & > *:not(:last-child) {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 0.5px solid $lightgray;
    }
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      font-size: 20px;
      margin-top: -2px;
    }

  }

  &__categories, &__producer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__available,&__discount{
    display: flex;
    align-items: center;
    column-gap: 11px;
  }

  &__price {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__apply-btn {
    .accent-btn {
      width: 100%;
      text-transform: uppercase;
    }
  }
  input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 1px solid $gray;
    border-radius: 2px;

    &:checked {
      &::before {
        position: absolute;
        z-index: 10;
        top: 6px;
        left: 6px;
        width: 10px;
        height: 10px;
        content: '';
        border-radius: 2px;
        background-color: $accent;
      }

      &::after {
        position: absolute;
        z-index: 5;
        width: 19px;
        height: 19px;
        content: '';
        border: 1px solid $gray;
        border-radius: 2px;
        background-color: $white;
      }
    }
  }
}


.categories {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__item {
    width: 230px;
    cursor: pointer;
  }
}

.producer {
  &__item {
    display: flex;
    align-items: center;
    column-gap: 11px;
  }
}

@include xl {
  .filter {
    &__container {
      position: static;
      display: block;
      padding: 0;
    }
  }
}
