.product {
  margin-bottom: 30px;

  .container {
    row-gap: 17px;
  }

  &__block {
    &_top {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
    }
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
    width: 100%;
  }

  &__action {
    display: flex;
    gap: 20px;
  }

  &__like, &__compare {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__like {
    font-weight: 700;
    color: $accent;
  }

  &__compare {
    font-weight: 700;
    color: #A5A5A5;
  }

  &__about {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  &__not-available, &__available, &__code {
    display: block;
    padding: 13px;
    white-space: nowrap;
    border-radius: 10px;
  }

  &__available {
    color: #23F911;
    background-color: #E9FFE7;
  }

  &__not-available {
    color: #23F911;
    background-color: #E9FFE7;
  }

  &__code {
    background-color: $moreLightGray;
  }

  &__comments {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: $accent;

    svg {
      font-size: 22px;

      & > * {
        color: $accent;
      }
    }

    span {
      font-size: 14px;
      font-weight: 300;
      margin-left: 5px;
      text-decoration: underline;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
  }

  &__buy {
    display: flex;
    align-items: center;
    column-gap: 10px;

    .accent-btn, .white-btn {
      width: 100%;
      padding: 26px 14px;
      text-transform: uppercase;
    }
  }

  &__pick-up-today {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: $lightPurple;
    row-gap: 20px;
  }

  &__location {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
  }

  &__address {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }

  &__pick-up-today-btn {
    a {
      @include accent-underline;
      font-size: 14px;
    }
  }

  &__additional-information {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      font-weight: 300;
      color: $gray;
      text-decoration-line: underline;
    }
  }

  .slick-slider {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 5fr;
  }

  .slick-list {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .slick-dots {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    width: 62px;
    padding-right: 10px;
    grid-column: 1/2;
    grid-row: 1/2;

    & > *:not(:last-child) {
      margin-bottom: 10px;
    }

    .slick-active {
      overflow: hidden;
      border: 1px solid $accent;
      border-radius: 10px;
    }

    li {
      width: 100%;
      height: auto;
      margin: 0;

      button {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        padding: 0;

        &::before {
          display: none;
        }

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .slick-slide {
    img {
      width: 100%;
    }
  }

  .mynext-arrow, .myprev-arrow {
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.10));

  }

  .myprev-arrow {
    left: 70px;
  }

  .mynext-arrow {
    right: 8px;
  }
}

.product-information {
  &__colors, &__sex {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
  }

  &__title {
    font-size: 14px;
    font-weight: 300;
    color: $gray;
  }

  &__colors-list, &__sex-list {
    display: flex;
    column-gap: 15px;
  }

  &__color-btn {
    font-size: 0;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 10px;

    &.selected::after {
      position: absolute;
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5.5px;
      width: 38px;
      height: 38px;
      content: '';
      border: 1px solid $accent;
      border-radius: 13px;
    }
  }

  .blue {
    background-color: #34CBFF;
  }

  .red {
    background-color: #FF3636;
  }

  .green {
    background-color: #4AFF3A;
  }

  &__sex-list {
    .white-btn {
      @include white-button;
      font-size: 14px;
      padding: 13px;
      color: black;
      border-radius: 10px;

      &.selected {
        border: 1px solid $accent;
        background-color: $lightPurple;
      }
    }
  }

  &__price {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  .prev-price {
    @include prev-price;
    font-size: 18px;
  }

  .curr-price {
    @include curr-price;
    font-size: 20px;
  }

  .percentage-difference {
    @include discount;
    width: 46px;
    padding: 7px;
    border-radius: 5px;
  }

  .origin-price {
    font-size: 18px;
    font-weight: 700;
  }
}

@include md {
  .product {
    &__block {
      &_top {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }

    &__name {
      font-size: 20px;
      width: auto;
    }

    &__buy {
      width: 65%;
    }

    &__additional-information {
      flex-direction: row;

    }


    .slick-dots {
      width: 92px;

      li button {
        width: 80px;
        height: 80px;
      }
    }

    .myprev-arrow {
      left: 110px;
    }
  }
}

@include lg {
  .product {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px 30px;
    }

    &__about {
      width: 100%;
    }

    &__buy {
      width: 100%;
      column-gap: 20px;
    }

    .slick-slider {
      width: calc(50% - 15px);
    }

    .slick-track, .slick-slide div {
      height: 100%;
    }

    &__img-container {
      position: relative;
      display: flex !important;
      overflow: hidden;
      width: 100%;
      height: 100%;

      img {
        scale: 1.2;
        object-fit: contain;
      }
    }

    &__pick-up-today-btn, &__additional-information {
      a {
        &:hover {
          @include accent-underline-hover;
        }
      }
    }

  }
  .product-information {
    width: calc(50% - 15px);

    .white-btn {
      padding: 12px;
    }
  }
}

@include xl {
  .product {

    .container {
      gap: 20px 25px;
    }

    &__block_top, &__action {
      margin-right: 10px;
      gap: 27px;
    }

    &__about {
      column-gap: 24px;
    }

    &__comments {
      span {
        margin-left: 10px;
      }
    }

    &__pick-up-today-btn a {
      font-size: 15px;
    }

    &__pick-up-today {
      padding: 31px 29px;
      row-gap: 20px;
    }

    &__buy {
      width: 70%;
      gap: 20px;

      .accent-btn, .white-btn {
        padding: 27px 14px;
      }
    }

    &__in-basket {
      width: calc(48% - 10px);
    }

    &__in-one-click {
      width: calc(52% - 10px);
    }

    &__img-container {
      img {
        scale: 1;
      }
    }

    .slick-slider {
      margin-top: 10px;
    }

    .prev-price {
      font-size: 20px;
    }

    .curr-price {
      font-size: 22px;
    }

    .mynext-arrow {
      right: 27px;
    }

    .mynext-arrow, .myprev-arrow {
      font-size: 48px;
    }

  }
  .product-information {
    margin-top: 10px;
    row-gap: 30px;

    &__colors, &__sex {
      row-gap: 13px;
    }
  }
}
