.product {
  margin-bottom: 30px;

  .container {
    row-gap: 17px;
  }

  .product-information {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
  }

  .product-top-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    .product-name {
      font-size: 18px;
      font-weight: 700;
      width: 100%;
    }

    .product-action {
      display: flex;
      gap: 20px;
    }

    .like-product, .compare-product {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }

    .like-product {
      font-weight: 700;
      color: $accent;
    }

    .compare-product {
      font-weight: 700;
      color: #A5A5A5;
    }
  }

  .about-product {
    display: flex;
    align-items: center;
    column-gap: 12px;

    .available, .not-available, .product-code {
      display: block;
      padding: 13px;
      white-space: nowrap;
      border-radius: 10px;
    }

    .available {
      color: #23F911;
      background-color: #E9FFE7;
    }

    .not-available {
      color: $accent;
      background-color: $lightPurple;
    }

    .product-code {
      background-color: $moreLightGray;
    }

    .comments {
      font-size: 18px;
      font-weight: 700;
      display: flex;
      align-items: center;
      color: $accent;

      svg {
        font-size: 22px;

        & > * {
          color: $accent;
        }
      }

      span {
        font-size: 14px;
        font-weight: 300;
        margin-left: 5px;
        text-decoration: underline;
      }
    }
  }

  .slick-slider {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 5fr;
  }

  .slick-list {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .slick-dots {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    width: 62px;
    padding-right: 10px;
    grid-column: 1/2;
    grid-row: 1/2;

    & > *:not(:last-child) {
      margin-bottom: 10px;
    }

    .slick-active {
      overflow: hidden;
      border: 1px solid $accent;
      border-radius: 10px;
    }

    li {
      width: 100%;
      height: auto;
      margin: 0;

      button {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        padding: 0;

        &::before {
          display: none;
        }

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }


  .mynext-arrow, .myprev-arrow {
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
    filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.10));

  }

  .myprev-arrow {
    left: 70px;
  }

  .mynext-arrow {
    right: 8px;
  }

  .slick-slide {
    img {
      width: 100%;
    }
  }

  .colors, .sex {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
  }

  .colors-list, .sex-list {
    display: flex;
    column-gap: 15px;
  }

  .colors {

    .color {
      font-size: 0;
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;
      border: none;
      border-radius: 10px;

      &.selected::after {
        position: absolute;
        top: -5px;
        left: -5.5px;
        bottom: -5px;
        right: -5px;
        width: 38px;
        height: 38px;
        content: '';
        border: 1px solid $accent;
        border-radius: 13px;
      }
    }

    .blue {
      background-color: #34CBFF;
    }

    .red {
      background-color: #FF3636;
    }

    .green {
      background-color: #4AFF3A;
    }
  }

  .sex-list button {
    @include white-button;
    color: black;
    font-size: 14px;
    padding: 13px;
    border-radius: 10px;

    &.selected {
      border: 1px solid $accent;
      background-color: $lightPurple;
    }
  }

  .title {
    font-size: 14px;
    font-weight: 300;
    color: $gray;
  }

  .price {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  .prev-price {
    @include prev-price;
    font-size: 18px;
  }

  .curr-price {
    @include curr-price;
    font-size: 20px;
  }

  .percentage-difference {
    @include discount;
    border-radius: 5px;
    width: 46px;
    padding: 7px;
  }

  .origin-price {
    font-size: 18px;
    font-weight: 700;
  }

  .buy-product {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .in-basket, .in-one-click  {
    width: 100%;
    padding: 26px 14px;
    text-transform: uppercase;
  }

  .pick-up-today {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: $lightPurple;
    row-gap: 20px;
  }

  .location {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;

    .address {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
    }
  }

  .pick-up-today-button a {
    @include accent-underline;
    font-size: 14px;
  }

  .additional-information {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      font-weight: 300;
      color: $gray;
      text-decoration-line: underline;
    }
  }
}

@include md {
  .product {
    .product-top-block {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .product-name {
        width: auto;
        font-size: 20px;
      }
    }

    .buy-product {
      width: 65%;
    }

    .additional-information {
      flex-direction: row;
    }

    .slick-dots {
      width: 92px;

      li button {
        width: 80px;
        height: 80px;
      }
    }

    .myprev-arrow {
      left: 110px;
    }
  }
}

@include lg {
  .product {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px 30px;
    }

    .about-product {
      width: 100%;
    }

    .slick-slider {
      width: calc(50% - 15px);
    }
    .slick-track, .slick-slide div {
      height: 100%;
    }
    .img-container {
      position: relative;
      display: flex !important;
      overflow: hidden;
      width: 100%;
      height: 100%;
      img {
        scale: 1.2;
        object-fit: contain;
      }
    }

    .pick-up-today-button a, .additional-information a {
      &:hover {
        @include accent-underline-hover;
      }
    }

    .product-information {
      width: calc(50% - 15px);
    }

    .buy-product {
      width: 100%;
      column-gap: 20px;
    }

  }
}
@include xl {
  .product {
    .about-product {
      column-gap: 24px;
      .comments span {
        margin-left: 10px;
      }
    }
    .pick-up-today-button a {
      font-size: 15px;
    }
    .pick-up-today {
      padding: 30px 25px;
      row-gap: 23px;
    }
    .buy-product {
      width: 70%;
      gap: 20px;
    }
    .in-one-click {
      width: calc(53% - 10px);
    }
    .in-basket {
      width: calc(47% - 10px);
    }
    .pick-up-today {

    }
    .img-container {
      img {
        scale: 1;
      }
    }
    .colors, .sex {
      row-gap: 13px;
    }
    .product-information {
      row-gap: 30px;
      margin-top: 10px;
    }
    .slick-slider {
      margin-top: 10px;
    }
    .product-top-block .product-action {
      gap: 27px;
      margin-right: 20px;
    }
  }
}