.product-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 13px;

  .percentage-difference {
    @include discount;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 100%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .full-name {
    font-size: 14px;
    font-weight: 300;
  }
.prices {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
  .prev-price {
    @include prev-price;
    font-size: 12px;
  }

  .curr-price {
    @include curr-price;
  }

  .price {
    font-size: 17px;
    font-weight: 700;
  }

  .not-available {
    font-size: 15px;
    font-weight: 400;
    color: #F91111;
  }
  .action-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .buy-product {
    @include accent-button;
    border-radius: 5px;
  }
}

@include sm {
  .product-item {
    max-width: 200px;
  }
}

@include md {
  .product-item {
    max-width: 265px;
    .prices {
      flex-direction: row;
      align-items: center;
    }
  }
}