.catalog-list {

  &__sorted-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    & > * {
      flex: 1 1 calc(50% - 30px);
      max-width: calc(50% - 15px);
    }
  }

  &__additions {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    gap: 20px 0;
  }
}

@include md {
  .catalog-list {
    &__sorted-products {
      justify-content: start;

      & > * {
        flex: 1 1 calc(33.33% - 30px);
        max-width: calc(33.33% - 20px);
      }
    }

    &__additions {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@include lg {
  .catalog-list {
    &__sorted-products {

      & > * {
        flex: 1 1 calc(25% - 30px);
        max-width: calc(25% - 20px);
      }
    }
  }
}