.sort-by {
  width: fit-content;

  .sort-by-select {
    position: relative;
    cursor: pointer;

    &.open .sort-by-options {
      display: block;
      opacity: 1;
    }
  }

  .selected-item {
    display: flex;
    column-gap: 15px;

    svg {
      font-size: 12px;
      margin-top: 2px;
    }
  }

  .sort-by-options {
    position: absolute;
    z-index: 100;
    top: 25px;
    left: 0;
    display: none;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    border: 1px solid $accent;
    border-radius: 0 0 4px 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .sort-by-select.open .sort-by-options {
    display: block;
    opacity: 1;
  }

  .sort-by-option {
    display: block;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    white-space: nowrap;
    color: black;
  }

  .sort-by-option.selected {
    color: $accent;
  }

  .sort-by-select:focus {
    border-color: #007bff;
    outline: none;
  }
}

@include md {
  .sort-by {
    .sort-by-list {
      display: flex;
      column-gap: 15px;
    }

    .sort-by-item {
      cursor: pointer;
      text-decoration: underline;
      color: $gray;

      &:hover {
        @include accent-underline-hover
      }

      &.selected {
        text-decoration: none;
        color: black;
      }
    }
  }
}

@include xl {
  .sort-by {
    align-self: center;

    .sort-by-list {
      margin-right: 10px;
      column-gap: 20px;
    }
  }
}