@mixin button {
  font-family: "Comfortaa", cursive;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  column-gap: 5px;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
}

@mixin accent-button {
  background-color: $accent;
  border: none;
  color: $white;
  font-weight: 700;
}

@mixin white-button {
  background-color: $white;
  color: $accent;
  font-weight: 700;
  border: 1px solid $accent;
}

@mixin button-hover {
  background-color: $red;
}

@mixin accent-underline {
  font-size: 15px;
  font-weight: 700;
  text-decoration: underline;
  color: $accent;
  cursor: pointer;
}

@mixin input-sm {
  padding: 10px;
  border: 1px solid $lightgrey;
  border-radius: 10px;
  color: $gray;
  font-weight: 300;
  font-size: 13px;
  outline: none;
}

@mixin input-xl {
  padding: 20px;
  border: 1px solid $lightgrey;
  border-radius: 5px;
  color: $gray;
  font-weight: 300;
  font-size: 15px;
  outline: none;
}

@mixin input-clicked {
  border-color: $gray;
  color: #000000;
}

@mixin input-error {
  border-color: $error;
}

@mixin headline {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

@mixin headline-mobile {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

@mixin subtitle {
  font-weight: 500;
  font-size: 17px;
}

@mixin subtitle-mobile {
  font-weight: 500;
  font-size: 16px;
}

@mixin discount {
  font-size: 14px;
  z-index: 2;
  width: 45px;
  padding: 6px;
  color: #ffffff;
  border-radius: 8px;
  background-color: #F99C11;
}

@mixin prev-price {
  font-weight: 700;
  text-decoration: line-through;
  span {
    font-weight: 300;
  }
}

@mixin curr-price {
  font-weight: 700;
  color: $discount;
  span {
    font-weight: 300;
    color: $discount;
  }
}


// Small devices.
@mixin xsm {
  @media (min-width: #{$screen-xsm-min}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices.
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices.
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices.
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}