@mixin button {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  cursor: pointer;
  white-space: nowrap;
  line-height: normal;
}
@mixin button-sm {
  @include button;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
}

@mixin button-md {
  @include button;
  font-size: 15px;
  border-radius: 10px;
}

@mixin accent-button {
  @include button;
  background-color: $accent;
  border: 1px solid $accent;
  color: $white;
}

@mixin accent-button-hover {
  background: $red;
}

@mixin white-button {
  @include button;
  background-color: $white;
  border: 1px solid $accent;
  color: $accent;
}

@mixin white-button-hover {
  background-color: $lightPurple;
}

@mixin accent-underline {
  font-size: 15px;
  font-weight: 700;
  text-decoration: underline;
  color: $accent;
  cursor: pointer;
}

@mixin accent-underline-hover {
  color: $red;
}

@mixin input {
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  border: 1px solid $lightgray;
  border-radius: 5px;
  color: $gray;
  outline: none;
}

@mixin input-white {
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid $white;
  border-radius: 10px;
  background-color: $semiTransparentWhite;
  padding: 15px;
  color: $white;
  outline: none;
  &::placeholder {
    color: $white;
    font-size: 13px;
  }
  &:focus {
    border: 3px solid $white;
    color: $white;
  }
}

@mixin input-sm {
  @include input;
  padding: 10px;
  font-size: 14px;
  &::placeholder {
    color: $gray;
  }
  &:focus {
    border: 1px solid $gray;
    color: $gray;
  }
}

@mixin input-md {
  @include input;
  padding: 15px;
  font-size: 15px;
}

@mixin input-error {
  border-color: $error;
}
@mixin headline-sm {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin headline-md {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin subtitle-sm {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  font-weight: 500;
}

@mixin subtitle-md {
  font-size: 17px;
  font-weight: 500;
}


@mixin discount {
  font-size: 14px;
  z-index: 2;
  width: 44px;
  padding: 5px;
  color: #ffffff;
  border-radius: 8px;
  background-color: #F99C11;
}

@mixin prev-price {
  font-size: 12px;
  font-weight: 700;
  text-decoration: line-through;
  span {
    font-weight: 300;
  }
}

@mixin curr-price {
  font-size: 15px;
  font-weight: 700;
  color: $discount;
  span {
    font-weight: 300;
    color: $discount;
  }
}


// Small devices.
@mixin xsm {
  @media (min-width: #{$screen-xsm-min}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices.
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices.
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices.
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}