$accent: #D03664;
$red: #aa2b51;
$lightpurple: #FFEAF1;
$discount: #F99C11;
$error: #FF0000;
$gray: #585858;
$lightgrey: #C7C7C7;
$white: #FFFFFF;
$morelightgrey: #F2F2F2;
$screen-xsm-min: 360px;
$screen-sm-min:480px;
$screen-md-min: 768px;
$screen-lg-min: 1000px;
$screen-xl-min: 1200px;
