$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$semiTransparentWhite: rgba(255, 255, 255, 0.15);
$accent: rgba(208, 54, 100, 1);
$red: rgba(170, 43, 81, 1);
$lightPurple: rgba(255, 234, 241, 1);
$discount: rgba(249, 156, 17, 1);
$error: rgba(255, 0, 0, 1);
$gray: rgba(88, 88, 88, 1);
$lightgray: rgba(199, 199, 199, 1);
$moreLightGray: rgba(225, 225, 225, 1);
$screen-xsm-min: 360px;
$screen-sm-min: 480px;
$screen-md-min: 768px;
$screen-lg-min: 1000px;
$screen-xl-min: 1200px;
