.header {
  position: relative;
  z-index: 10;
  background-color: $accent;
  grid-column: 1/3;
  grid-row: 1/2;

  .top-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 1px;

    .logo {
      width: 90px;
      height: 20px;

      img {
        height: 100%;
      }
    }

    .right-block, .left-block {
      display: flex;
      gap: 0 10px;
    }

  }

  .toggle-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 18px;
    padding: 0;
    cursor: pointer;
    border: none;
    background: transparent;

    .toggle-item {
      font-size: 0;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 1px 15px;
      cursor: pointer;
      background-color: $white;

      &::before, &::after {
        position: absolute;
        left: 0;
        content: '';
        background-color: $white;
      }

      &::before {
        top: -7px;
        padding: 1px 15px;
      }

      &::after {
        top: 7px;
        padding: 1px 7.5px;
      }
    }
  }

  .toggle-menu {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 266px;
    height: 100vh;
    padding: 20px 15px;
    background-color: $accent;

    & > *:not(:first-child, :last-child) {
      margin-bottom: 30px;
    }
  }

  .close-toggle-menu {
    font-size: 20px;
    position: absolute;
    top: 30px;
    right: -35px;
    color: $white;
    border: none;
    background: transparent;
  }

  .tools {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
  }

  .number {
    font-size: 17px;
    font-weight: 500;
    color: $white;
  }
}

@include md {
  @media (min-width: #{$screen-md-min}) {
    .header {

      .top-block {
        gap: 0 15px;

        .left-block {
          gap: 0 15px;
        }

        .right-block {
          width: 100%;
          gap: 0 15px;
        }
      }
    }
  }
}

@include lg {

}

@include xl {
  .header {

    .top-block {

      .logo {
        width: 138px;
        height: 32px;
      }

      .tools {
        flex-direction: row;
        gap: 0 30px;
      }
    }

    .bottom-block {
      display: flex;
      gap: 0 30px;
    }
  }
}

