.header {
  position: relative;
  z-index: 10;
  background-color: $accent;
  grid-column: 1/3;
  grid-row: 1/2;

  .container {
    gap: 0;
  }

  &__block {
    &_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 1px;
    }

    &_left {
      display: flex;
      align-items: center;
      gap: 0 10px;
    }

    &_right {
      display: flex;
      align-items: center;
      gap: 0 15px;
    }

  }

  &__toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 18px;
    padding: 0;
    cursor: pointer;
    border: none;
    background: transparent;
  }

  &__toggle-item {
    font-size: 0;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1px 15px;
    cursor: pointer;
    background-color: $white;

    &::before, &::after {
      position: absolute;
      left: 0;
      content: '';
      background-color: $white;
    }

    &::before {
      top: -7px;
      padding: 1px 15px;
    }

    &::after {
      top: 7px;
      padding: 1px 7.5px;
    }
  }

  &__logo {
    width: 90px;
    height: 20px;

    img {
      height: 100%;
    }
  }

  .close-toggle {
    top: 30px;
    right: -35px;
  }
}

.toggle-menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 266px;
  height: 100vh;
  padding: 20px 15px;
  background-color: $accent;

  & > *:not(:first-child, :last-child) {
    margin-bottom: 30px;
  }
}

.tools {
  display: flex;
  flex-direction: column;
  gap: 30px 0;

  &__number {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    color: $white;
  }
}

@include md {

  .header {
    &__block {
      &_top, &_left, &_right {
        gap: 0 15px;
      }

      &_right {
        width: 100%;
      }
    }
  }
}

@include xl {
  .header {
    &__block {
      &_top {
        justify-content: left;
        padding: 20px 0;
        gap: 30px;
      }

      &_bottom {
        display: flex;
        gap: 0 30px;
      }
    }

    &__logo {
      width: 138px;
      height: 32px;
    }
  }
  .tools {
    align-items: center;
    flex-direction: row;
    margin: 0 0 0 auto;
    gap: 0 20px;
  }
}

