.main-menu {
  padding-bottom: 30px;
  border-bottom: 1px solid #FFC5D6;

  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }

  .menu-item {
    a {
      white-space: nowrap;
      color: $white;
    }
  }
}

@include xl {
  .main-menu {
    padding-bottom: 0;
    border: none;

    .menu-list {
      flex-direction: row;
      gap: 0 20px;
    }
  }
}
