.main-menu {
  border-bottom: 1px solid #FFC5D6;
  padding-bottom: 30px;

  .menu-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .menu-item {
    width: 100%;

    a {
      color: $white;
    }
  }
}

@include xl {
  .main-menu {
    .menu-list {
      display: flex;

      & > *:not(:last-child) {
        margin-right: 20px;
      }
    }

    .menu-item a {
      color: $white;
    }
  }
}
