.search {
  display: flex;
  align-items: center;

  input {
    @include input-sm;
    position: absolute;
    top: 70px;
    left: 15px;
    width: calc(100% - 30px);

    &::placeholder {
      color: $gray;
    }

    &:focus {
      @include input-clicked;
    }
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 18px;
    padding: 15px;
    cursor: pointer;

    img {
      width: inherit;
    }
  }
}

@include md {
  .search {
    position: relative;
    width: 100%;

    input {
      font-size: 15px;
      position: static;
      width: 100%;
      padding: 7px 40px 7px 10px;
      color: $white;
      border: 1px solid $white;
      background-color: #FFFFFF26;

      &::placeholder {
        color: $white;
      }

      //&:focus {
      //  @include input-clicked;
      //}
    }

    .img-container {
      position: absolute;
      right: 2px;
    }
  }
}

@include xl {
  .search {

    input {
      padding: 10px 45px 10px 15px;
    }

    .img-container {
      right: 3px;
      padding: 17px 15px;
    }
  }
}