.footer {
  padding-bottom: 50px;
  background-color: $accent;
  grid-column: 1/3;
  grid-row: 4/5;

  .container {
    padding: 0;
  }

  .top-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 40px 0;

    & > * {
      width: 100%;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    padding: 35px 20px;
    background-color: $red;
    gap: 15px 0;

    .email, .address {
      color: $white;
    }
  }

  .information, .catalog {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    padding: 0 15px;
    gap: 20px;
  }

  .headline, .catalog-item a span, .information-item a {
    color: $white;
  }

  .information-list, .catalog-list {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 144px;
    gap: 15px 40px;
  }

  .copyright {
    padding: 0 15px;

    p {
      font-size: 14px;
      color: #F3A8BF;
    }

    .cards {
      display: flex;
      margin-top: 10px;
      gap: 0 10px;

      img {
        width: auto;
        border-radius: 10px;
      }
    }
  }
}

@include sm {
  .footer .information-list, .footer .catalog-list {
    column-gap: 90px;
  }
}

@include md {
  .footer {
    .top-block {
      flex-direction: row;
      flex-wrap: wrap;

      & > * {
        width: auto;
      }
    }

    .contacts {
      width: 100%;
    }

    .information {
      padding: 0 50px 0 15px;
    }

    .catalog {
      padding: 0 15px 0 0;
    }

    .information-list, .catalog-list {
      column-gap: 50px;
    }
  }
}

@include xl {
  .footer {
    padding: 50px 0;

    .container {
      width: 100%;
      padding: 0 15px;
    }

    .top-block {
      flex-direction: row;
      flex-wrap: wrap;

      & > * {
        width: auto;
      }
    }

    .contacts {
      margin-right: 130px;
      padding: 30px;
      border-radius: 20px;
      background-color: $red;

      .address {
        max-width: 250px;
      }
    }

    .information {
      padding: 0 80px 0 0;
    }
  }
}