.pagination {
  display: flex;
  align-items: center;
  column-gap: 5px;

  &__list {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    padding-top: 3px;
    border: 1px solid $moreLightGray;
    border-radius: 50px;
  }

  .selected_page {
    border-color: $accent;
  }

  .mynext-arrow, .myprev-arrow {
    position: static;
  }
}