.breadcrumbs {
  display: flex;
  column-gap: 5px;
  .product-breadcrumbs {
    display: flex;
    column-gap: 5px;
  }
  a {
    color: $accent;
  }
}
@include xl {
  .breadcrumbs {
    grid-column: 1/3;
  }
}