.star-rating {
  &__btn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;

    &.on {
      svg {
        font-size: 30px;

        & > * {
          color: $accent;
        }
      }
    }

    &.off {
      svg {
        font-size: 30px;

        & > * {
          color: $lightgray;
        }
      }
    }
  }
}
