@import 'additional/variables';
@import 'additional/mixins';
@import 'additional/fonts';
@import './../../pages/Auth/login';
@import './../../pages/MainPage/main-page';
@import './../../pages/CatalogPage/catalog-page';
@import './../../pages/ProductPage/product-page';
@import './../../components/AddReview/add-review';
@import './../../components/AddReview/StarRating/star-rating';
@import './../../components/BrandsSlider/brands-slider';
@import './../../components/Breadcrumbs/breadcrumbs';
@import './../../components/CatalogList/catalog-list';
@import './../../components/CatalogMenu/catalog-menu';
@import './../../components/DiscountSlider/discount-slider';
@import './../../components/Filter/filter';
@import './../../components/Filter/AppliedFilters/applied-filters';
@import './../../components/Filter/PriceRange/range-price';
@import './../../components/Footer/footer';
@import './../../components/Header/header';
@import './../../components/Header/Languages/languages';
@import './../../components/Header/Navbar/navbar';
@import './../../components/Header/Search/search';
@import './../../components/Header/UserActions/user-action';
@import './../../components/Header/UserPanel/user-panel';
@import './../../components/PopularCategory/popular-category';
@import './../../components/Product/product';
@import './../../components/ProductCharacteristics/product-characteristics';
@import './../../components/ProductDescription/product-description';
@import './../../components/ProductReviews/product-reviews';
@import './../../components/ProductReviews/Review/review';
@import './../../components/PromotionsSlider/promotions-slider';
@import './../../components/SortBy/sortby';
@import './../../components/Subscription/subscription';
@import './../../components/commons/Arrows/arrows';
@import './../../components/commons/BasketNotification/basket-notification';
@import './../../components/commons/CloseButton/close-button';
@import './../../components/commons/ImagesField/images-field';
@import './../../components/commons/MoreDetails/more-details';
@import './../../components/commons/Pagination/pagination';
@import './../../components/commons/ProductItem/product-item';
@import './../../components/commons/ProductsSlider/product-slider';
@import './../../components/commons/SendButton/send-button';
@import './../../components/commons/ShowMore/show-more';
@import './../../components/commons/SocialNetwork/social-network';


html,
body {
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

html {
  box-sizing: border-box;
}

* {
  line-height: 112%;
  box-sizing: inherit;
  color: black;
}

.bubu-store {
  display: grid;
  overflow: hidden;
  min-height: 100vh;
  grid-template-columns: 200px 2fr;
  grid-template-rows: auto 1fr auto;
}

.form-container {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  &.open {
    display: flex;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  row-gap: 30px;
}

.content {
  position: relative;
  padding: 15px 0 40px;
  grid-column: 1/3;
  grid-row: 2/3;
}

a,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.headline {
  @include headline;
}

a {
  text-decoration: none;
}

.headline {
  font-size: 18px;
}

ul,
li {
  padding: 0;
  list-style: none;
}

.text {
  font-size: 14px;
}

@include md {
  html,
  body {
    font-size: 15px;
  }
  .headline {
    font-size: 20px;
  }
  .text {
    font-size: 15px;
  }
}
